
:host{
    display: inline-block;
}

.photo{
    width: 90px;
    height: 90px;
    border-radius: 4px;
    background-image:url("/assets/rel1.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.title{
    font-size: 8px;
    line-height: 10px;
    font-weight: 600;
    color: rgba(228, 231, 229, 1);
    margin:8px 0 4px;
}

.subtitle{
    font-size: 10px;
    line-height: 12px;
    font-weight: 400;
    color: rgba(175, 182, 178, 1);
}