<div class="bar">
    <div class="left">
        <div class="buttons">
            <img class="icon shuffle" src="/assets/shuffle.png">
            <img class="icon previous" src="/assets/previous.png">
            <img class="icon pause-btn" src="/assets/pause-btn.png">
            <img class="icon next" src="/assets/next.png">
            <img class="icon repeat" src="/assets/repeat.png">
        </div>
        <div class="song">
            <div class="photo"></div>
            <div class="name">
                <div class="title">
                    <div class="text">On The Ground</div>
                    <div class="circle"></div>
                    <div class="word">Rosé</div>
                </div>
                <div class="time"></div>
            </div>
        </div>
    </div>
    <div class="music-control">
        <img class="ico" src="/assets/message.png">
        <img class="ico" src="/assets/list-plus.png">
        <img class="ico" src="/assets/heart2.png">
        <img class="ico" src="/assets/more-horizontal.png">
        <img class="ico" src="/assets/volume.png">
    </div>
</div>
