
@import "mixins";
@import "variables";

:host{
    display: block;
}

.bar{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content:flex-start;
    align-items: center;
    height:100%;
    background-color:rgba(39, 39, 39, 1);
    border-top: 1px solid rgba(122, 133, 128, 1);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
 
}

.left{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content:space-between;
    align-items: center;
    flex-grow: 1;
    flex-basis: 1px;
}

.buttons{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    padding: 0 65px;
    cursor: pointer;

}

.icon:hover{
    filter:saturate(50%) brightness(50%) hue-rotate(90deg);
}

.shuffle,.repeat{
    width: 14px;
}

.previous{
    width: 26px;
    margin-left: 5px;
}

.pause-btn{
    width: 36px;
}

.next{
    width: 26px;
    margin-right: 5px;
}

.song{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content:flex-start;
    align-items: center;
    flex-grow: 1;
}

.photo{
    height: 35px;
    width: 35px;
    background-image: url("/assets/song image.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.name{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content:flex-start;
    align-items: center;
    gap:5px;
    width: 100%;
}

.text{
    display: inline-block;
    font-size: 12px;
    line-height: 24px;
    font-weight: 600;
    color:rgba(255, 255, 255, 1);
}

.circle{
    display: inline-block;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: rgba(202, 206, 204, 1);
    margin: 0 17px;
    vertical-align: middle;
}

.word{
    display: inline-block;
    font-size: 12px;
    line-height: 24px;
    font-weight: 400;
    color: rgba(175, 182, 178, 1);
}

.time{
    height: 16px;
    background-image:url("/assets/bar-time.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width:65%;
}

.music-control{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap:14px;
    padding:0 60px;
    border-left: 1px solid rgba(122, 133, 128, 1);
    height: 100%;
}

.ico{
    width: 12px;
    cursor: pointer;
    &.ico:hover{
        background-color:purple;
    }
}