<div class="heder">
    <div class="gradient"></div>
    <div class="search">
        <img class="icon" src="/assets/search.png">
        <input type="text" placeholder="Search artists, songs, albums...">
        <img class="icon" src="/assets/microfon.png">
    </div>
    <div class="content-heder">
        <div class="styles">
            <div class="style">R&B</div>
            <div class="style">Pop</div>
            <div class="style">Rap</div>
            <div class="style">Ballad</div>
            <div class="style">Country</div>
            <div class="style">Hip Hop</div>
        </div>
        <div class="right">
            <div class="subtitle">FEATURED SONGS</div>
            <div class="title">Post Malone</div>
            <div class="name">Circles</div>
            <div class="buttons">
                <img class="ico" src="/assets/more-horizontal.png">
                <img class="ico" src="/assets/heart.png">
                <div class="btn">Play</div>
            </div>
        </div>
    </div>
</div>
