
<div class="bar">
    <img class="logo" src="/assets/logo.png">
    <div class="menu">
        <div class="menu-item selected">
            <img class="icon" src="/assets/home.png">
            <div class="text">Home</div>
        </div>
        <div class="menu-item">
            <img class="icon" src="/assets/browser.png">
            <div class="text">Browser</div>
        </div>
        <div class="menu-item">
            <img class="icon" src="/assets/heart.png">
            <div class="text">Favorite</div>
        </div>
        <div class="menu-item">
            <img class="icon" src="/assets/library.png">
            <div class="text">Library</div>
        </div>
    </div>
    <div class="list">
        <div class="name-list">
            <div class="title">Playlists</div>
            <span class="material-symbols-outlined more">add_circle</span>
        </div>
        <div class="list-item">
            <div class="name">For workplace</div>
            <span class="material-symbols-outlined equalizer">equalizer</span>
        </div>
        <div class="list-item">
            <div class="name">Rich Brian's collections</div>
            <span class="material-symbols-outlined equalizer">equalizer</span>
        </div>
        <div class="list-item">
            <div class="name">deep focus</div>
            <span class="material-symbols-outlined equalizer">equalizer</span>
        </div>
        <div class="list-item">
            <div class="name">Lo-Fi Jazz upbeat</div>
            <span class="material-symbols-outlined equalizer">equalizer</span>
        </div>
        <div class="list-item">
            <div class="name">For workplace</div>
            <span class="material-symbols-outlined equalizer">equalizer</span>
        </div>
        <div class="list-item">
            <div class="name">Christmas playlist</div>
            <span class="material-symbols-outlined equalizer">equalizer</span>
        </div>
    </div>
</div>
