@import "mixins";
@import "variables";


body{
    box-sizing: border-box;
    border: 0;
    margin: 0;
    padding:0;
    background-image: url("/assets/BG.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

*{
    font-family: 'Inter',sans-serif;
}

*{
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 6px;
    height:6px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: rgb(218, 218, 218); 
}
   
/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(177, 177, 177); 
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #7c7c7c; 
}